.search-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    z-index: 100;
}

.search-main {
    display: flex;
    align-items: center;
}

.search-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    min-width: 350px;
}

.search-button {
    padding: 8px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: var(--gray);
}

.search-icon {
    width: 24px;
    height: 24px;
    stroke: var(--white);
}

.search-results {
    display: none;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}

.search-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--gray);
}

.search-item:hover {
    background-color: var(--gray);
}

.search-item:last-child {
    border-bottom: none;
}
