.tradein {
    h2 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 20px;
        margin-top: 10px;
        text-align: center;
    }
    &_p {
        font-size: 20px;
        font-weight: 300;
        max-width: 800px;
        margin: 0 auto;
    }
    div.ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px 0;
        .li {
            font-weight: 400;
            margin: 5px 0 5px 15px;
            position: relative;
            color: var(--black);
            b {
                margin-right: 10px;
            }
            &::before {
                content: "";
                position: absolute;
                display: block;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                left: -10px;
                top: 0;
                bottom: 0;
                margin: auto 0;
                background-color: var(--black);
            }
        }
    }
    .title {
        padding: 25px 0;
    }
    .companies {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        &_block.reverse {
            flex-direction: row-reverse;
            justify-content: flex-end;
            .companies_block_img {
                margin-right: 0;
                margin-left: 20px;
            }
        }
        &_block:not(:last-child) {
            margin-bottom: 20px;
        }
        &_block {
            display: flex;
            align-items: center;

            &_img {
                border-radius: 10px;
                width: 30%;
                margin-right: 20px;
            }
            &_info {
                h3 {
                    font-size: 27px;
                    font-weight: 500;
                    margin-bottom: 15px;
                }
                p {
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}

.tradeinupload {
    padding: 30px 0;
    p {
        max-width: 80%;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin: 20px auto;
    }
    textarea {
        min-width: 80%;
        max-width: 80%;
        padding: 10px 20px;
        border-radius: 15px;
        font-size: 18px;
        border: 1px solid var(--dark);
        display: block;
        min-height: 150px;
        margin: 10px auto;
    }
}

.image-examples {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    img {
        max-width: 31%;
        margin: 1%;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
    }
}

@media screen and (max-width: 700px) {
    .tradein {
        .companies {
            &_block {
                display: block;
                &_info {
                    h3 {
                        text-align: center;
                    }
                }
                &_img {
                    float: left;
                    min-width: 180px;
                }
            }
            &_block.reverse {
                .companies_block_img {
                    float: right;
                }
            }
            &_block:not(:last-child) {
                margin-bottom: 40px;
            }
        }
    }
}
