.select {
    position: relative;
    display: inline-flex;
    span {
        margin-right: 10px;
    }
    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        appearance: button;
        backface-visibility: hidden;
        border-radius: 10px;
        font-weight: 600;
        border: 1px solid var(--dark-blue);
        outline: none;
        overflow: hidden;
        padding: 10px 15px;
        position: relative;
        text-align: center;
        transition: all 0.2s;
        background-color: transparent;
        text-emphasis: none;
        white-space: nowrap;
        &:disabled {
            cursor: default;
        }
        svg {
            width: 20px;
            height: 20px;
        }
        :not(:last-child) {
            margin-right: 5px;
        }
    }
    .options {
        &.active {
            display: flex;
        }
        position: absolute;
        right: -1px;
        top: 100%;
        width: max-content;
        display: none;
        align-items: stretch;
        text-align: center;
        flex-direction: column;
        border: 1px solid var(--gray);
        border-radius: 10px;
        :first-child {
            border-radius: 10px 10px 0 0;
        }
        :last-child {
            border-radius: 0 0 10px 10px;
        }
        button {
            border: none;
            border-radius: 0px;
            background: var(--gray);
            z-index: 100;

            &:hover {
                color: var(--dark-blue);
                background: var(--white);
            }
        }
    }
}
