.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 300px;
    overflow: auto;
    .transparent {
        display: block;
        margin-bottom: 5px;
        padding: 0;
        padding-left: 10px;
        font-size: 14px;
    }
    span {
        font-size: 18px;
        font-weight: 500;
    }
}
