.filters {
    display: flex;
    align-items: center;
    padding: 25px 0;
    &_sort {
        margin-left: 20px;
        display: flex;
        align-items: center;
        span {
            margin-right: 5px;
        }
    }
}
