@font-face {
  font-family: 'MyMontesserat'; /* Define a name for your font */
  src: url('./../public/fonts/Montserratarm-Light.otf') format('opentype'); /* Specify the path to the font files */
  font-weight: 100; /* Optional: specify the weight of the font */
  font-style: normal;  /* Optional: specify the style of the font */
}


:root {
  --orange: #ffa62a;
  --dark-blue: #0011ff;
  --blue: #5c9cee;
  --black: #2a2a2a;
  --dark: #8d8d8d;
  --gray: #dcdcdc;
  --white: #ffffff;
  --black-opacity: #2a2a2a54;
}
button {
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  color: var(--black);
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
