:root {
  --orange: #FFA62A;
  --blue: #5C9CEE;
  --black: #2a2a2a;
  --dark: #535353;
  --gray: #848484;
  --white: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
